name: Build for Windows, macOS, and Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyqt5 pyinstaller biopython matplotlib pyqtgraph numpy
      
      - name: Build Windows executable (OneDir)
        run: |
          pyinstaller --onedir --name sangerquant --windowed src/gui/app.py

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: dist/

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyqt5 pyinstaller biopython matplotlib pyqtgraph numpy
         

      - name: Build macOS app
        run: |
          pyinstaller --onedir --windowed --name "SangerQuant" src/gui/app.py
          


      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-app
          path: dist/

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-xinerama0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxcb-randr0 libxcb-shape0 libxcb-xfixes0 libxcb-xkb1 libxkbcommon-x11-0
          python -m pip install --upgrade pip
          pip install pyqt5 pyinstaller biopython matplotlib pyqtgraph numpy
          

      - name: Build Linux executable (OneDir)
        run: |
          pyinstaller --onedir --name sangerquant --windowed --noconfirm src/gui/app.py

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-executable
          path: dist/
